@using SEDC.Lamazon.ViewModels.Models.Product
@model ProductViewModel


<form asp-action="Details" method="post"> 
    <input asp-for="Id" hidden/>


    <div class="row">
        <div class="col-12 col-md-6 pb-1">
            <button class="btn btn-primary" type="submit" disabled="@ViewBag.IsInCart">Add to Cart </button>
        </div>
    </div>
</form>