@{
    ViewData["Title"] = "Acces Denied";
}

<div class="container mt-5"> 
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-header bg-danger text-white">
                <h3>Acces Denied</h3>
            </div>
            <div class="card-body">
                <p class="text-danger">Sorry, you do not have the necessary permissions to acces this route!</p>
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
</div>