@using SEDC.Lamazon.ViewModels.Models.Order
@model OrderViewModel

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        Your OrderNumber is: @Model.OrderNumber
    </div>
</div>