@using SEDC.Lamazon.ViewModels.Models.ProductCategory
@model ProductCategoryViewModel


<h2>Category Details for @Model.Name</h2>

<hr />

<p>Id: @Model.Id</p>
<p>Name: @Model.Name</p>

<hr />

<a asp-action="Index">Return</a>
