@using SEDC.Lamazon.ViewModels.Models.User
@model List<UserViewModel>

<div class="card shadow mt-4">
    <div class="card-header bg-secondary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Users</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row mb-2">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="User" asp-action="Create" class="btn btn-primary"> Create New User</a>
            </div>
        </div>

        <table id="usersTable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>City</th>
                    <th>Role</th>
                    <th>Validated</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/userApp.js"></script>
}