@using SEDC.Lamazon.ViewModels.Models.ProductCategory
@model ProductCategoryViewModel


<h2>Create Product Category</h2>

<form asp-controller="ProductCategory" asp-action="Create" method="post">
    <input type="hidden" asp-for="Id"/>

    <div>
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div>
        <a asp-controller="ProductCategory" asp-action="Index" class="btn btn-default">Cancel</a>
        <button class="ms-2 btn btn-success" type="submit">Save</button>
    </div>
</form>


